DSClient/src/wsdl/localhost_8080/DStest/simulationFactory.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Factory/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Factory/" name="simulationFactory">
<types>
<xsd:schema>
<xsd:import namespace="http://Factory/" schemaLocation="http://localhost:8080/DStest/simulationFactory?xsd=1"/>
</xsd:schema>
</types>
<message name="resultList">
<part name="parameters" element="tns:resultList"/>
</message>
<message name="resultListResponse">
<part name="parameters" element="tns:resultListResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="simulationList">
<part name="parameters" element="tns:simulationList"/>
</message>
<message name="simulationListResponse">
<part name="parameters" element="tns:simulationListResponse"/>
</message>
<message name="simulationParameters">
<part name="parameters" element="tns:simulationParameters"/>
</message>
<message name="simulationParametersResponse">
<part name="parameters" element="tns:simulationParametersResponse"/>
</message>
<message name="executeSimulation">
<part name="parameters" element="tns:executeSimulation"/>
</message>
<message name="executeSimulationResponse">
<part name="parameters" element="tns:executeSimulationResponse"/>
</message>
<portType name="simulationFactory">
<operation name="resultList">
<input wsam:Action="http://Factory/simulationFactory/resultListRequest" message="tns:resultList"/>
<output wsam:Action="http://Factory/simulationFactory/resultListResponse" message="tns:resultListResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Factory/simulationFactory/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Factory/simulationFactory/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="simulationList">
<input wsam:Action="http://Factory/simulationFactory/simulationListRequest" message="tns:simulationList"/>
<output wsam:Action="http://Factory/simulationFactory/simulationListResponse" message="tns:simulationListResponse"/>
</operation>
<operation name="simulationParameters">
<input wsam:Action="http://Factory/simulationFactory/simulationParametersRequest" message="tns:simulationParameters"/>
<output wsam:Action="http://Factory/simulationFactory/simulationParametersResponse" message="tns:simulationParametersResponse"/>
</operation>
<operation name="executeSimulation">
<input wsam:Action="http://Factory/simulationFactory/executeSimulationRequest" message="tns:executeSimulation"/>
<output wsam:Action="http://Factory/simulationFactory/executeSimulationResponse" message="tns:executeSimulationResponse"/>
</operation>
</portType>
<binding name="simulationFactoryPortBinding" type="tns:simulationFactory">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="resultList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="simulationList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="simulationParameters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="executeSimulation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="simulationFactory">
<port name="simulationFactoryPort" binding="tns:simulationFactoryPortBinding">
<soap:address location="http://localhost:8080/DStest/simulationFactory"/>
</port>
</service>
</definitions>